
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', Times, serif;
}
/* simple style for header */
header {
    background-color: #D4BEE4;
    height: 100px;
    text-align: center;
}

header p{
    font-size: 40px;
    font-weight: 500;
    padding:30px;
    color: #EEEEEE;
}

.todo-container {
    margin : 50px;
    height: 400px;
    background-color: #EEEEEE;
    border-color: #D4BEE4;
    border-radius: 20px;
    box-shadow: 5px 10px #D4BEE4;
    padding: 40px;
}

